@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    font-family: "Poppins", sans-serif;

    background: url(demon\ slayer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.clock{
    font-size: 4.5vw;
    color: white;

    text-shadow: 5px 3px 3px rgba(0, 0, 0, 0.7);
    position: relative;
}

.clock-container{
    padding: 2rem 6rem;
    text-align: center;
    width: 700px;
 
    background: rgba(255, 255, 255, .03);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, .025);

    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;

    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.42);
}

.clock-container h2{
    font-size: 2.5vw;
    margin-bottom: .5rem;
}